<div
  class="left-panel-wrapper flex justify-center items-center gap-16 bg-slate-600"
>
  <div class="flex flex-col">
    <div class="text-xl font-normal text-white">Welcome to</div>
    <div class="text-4xl font-normal text-white">Tulajaram Blood Bank</div>
  </div>
  <div class="flex flex-col gap-8 w-4/5 justify-center items-center">
    <div class="text-xl font-normal text-white">Continue as...</div>
    <button
      id="donorActionButton"
      class="bg-white w-3/4 text-slate-900 rounded focus:outline-none shadow-[0_4px_10px_rgba(0,0,0,0.2)] font-semibold"
      style="max-width: 350px"
    >
      <a href="/auth/donor/signin" class="inline-block w-full h-full px-4 py-2"
        >Donor</a
      >
    </button>
    <button
      id="adminActionButton"
      class="bg-white w-3/4 text-slate-900 rounded focus:outline-none shadow-[0_4px_10px_rgba(0,0,0,0.2)] font-semibold"
      style="max-width: 350px"
    >
      <a href="/auth/admin/signin" class="inline-block w-full h-full px-4 py-2"
        >Admin</a
      >
    </button>
    <button
      id="hospitalActionButton"
      class="bg-white w-3/4 text-slate-900 rounded focus:outline-none shadow-[0_4px_10px_rgba(0,0,0,0.2)] font-semibold"
      style="max-width: 350px"
    >
      <a
        href="/auth/hospital/signin"
        class="inline-block w-full h-full px-4 py-2"
        >Hospital Admin</a
      >
    </button>
  </div>
</div>
