<div class="home-page-main-content-footer w-full p-8">
  <div class="flex flex-row justify-between items-center h-full w-full">
    <div class="flex flex-col h-full w-1/2 justify-end">
      © 2024 Tulajaram Blood Bank. All Rights Reserved.
    </div>
    <div class="flex flex-col h-full w-1/2 justify-end items-end text-xl">
      "Give blood, save lives, your small act makes a big impact."
    </div>
  </div>
</div>
