<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <main class="h-screen w-screen flex flex-col justify-center items-center gap-6">
        <h3 class="error-text text-4xl">Some error occurred!</h3>
        <h3 class="error-text text-2xl">We're working on fixing this, sorry for the inconvenience!</h3>
    </main>
<%- include('./includes/end.ejs') %>    