<div
  class="home-page-left-panel-wrapper flex justify-stretch items-center gap-4 bg-slate-600"
>
  <div
    class="home-page-sidebar-header w-full flex flex-col justify-center items-start p-10"
  >
    <div class="text-white text-2xl text-clip">Tulajaram Blood Bank</div>
  </div>
  <div
    class="home-page-sidebar-body w-full flex flex-col justify-start items-start p-10 text-xl gap-4"
  >
    <div class="text-white cursor-pointer"><a href="/admin/home">Home</a></div>
    <div class="text-white cursor-pointer">
      <a href="/admin/blood-bank-folio">Blood Bank Folio</a>
    </div>
    <div class="text-white cursor-pointer">
      <a href="/admin/camps?view=viewCamps">Blood Donation Camps</a>
    </div>
    <div class="text-white cursor-pointer">
      <a href="/admin/donorDetails">Donors</a>
    </div>
    <div class="text-white cursor-pointer">
      <a href="/admin/hospitals">Hospitals</a>
    </div>
    <div class="text-white cursor-pointer">
      <a href="/admin/requests">Blood Requests</a>
    </div>
  </div>
  <div
    class="home-page-sidebar-footer w-full flex flex-col justify-center items-start p-10 text-xl"
  >
    <div class="text-white cursor-pointer"><a href="/logout">Logout</a></div>
  </div>
</div>
